/* En tu archivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
  font-family: 'Lobster', cursive;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Página de inicio */
#startApp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.987);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#startApp h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333;
  animation: pulse 1.5s infinite;
}

/* Agrega estilos para el pie de página dentro de startApp */
#startApp p {
  position: absolute;
  bottom: 1.5px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: #333; /* Color de texto ajustado */
  font-family: 'Arial', sans-serif; /* Ajusta la fuente según tus preferencias */
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: repeat; /* Repetir la imagen para cubrir toda la pantalla */ /* Mantener el tamaño original de la imagen */
  background-position: center;
  filter: grayscale(100%); /* Aplicar filtro de blanco y negro */
  background-repeat: repeat-x; /* Repetir solo horizontalmente */
  background-size: auto 100%; /* Ajustar el ancho de las imágenes al 100% de la altura */
  transition: background-image 1s ease;
}



.container {
  
  margin-right: 7%;
  margin-left: 7%;
  text-align: center;
  max-width: 700px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.countdown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.countdown div {
  margin: 0 10px;
}

@media (max-width: 600px) {
  .countdown {
    flex-direction: column;
  }

  .countdown div {
    margin: 5px 0;
  }
}

h1 {
  margin-bottom: 10px;
}

/* Animación de girar */
@keyframes pulse {
  0% {
      transform: rotate(-2deg);
  }

  50% {
      transform: rotate(2deg);
  }

  100% {
      transform: rotate(-2deg);
  }
}
  